.App {
  text-align: center;
}

.App-logo {
  padding-top: 30px;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.graph-output {
  margin: auto;
  width: 800px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid black;
}